<!DOCTYPE html>
<html>
  <head>
    <title>Twitter API Example</title>
    <link rel='stylesheet' href='/stylesheets/grid12.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

<div class="container">

	<div class="">
	            
		<div class="">
		    <h1>
		        Login
		    </h1>
		</div>


		<div>
		    <form method="POST">
		        <div class="form-control">
		            <label>Username</label>
		            <input type="text" name="username" class="form-input"/>
		        </div>
		        
		        <div class="form-control">
		            <label>Password</label>
		            <input type="password" name="password" class="form-input"/>
		        </div>

		        <div class="form-control" style="margin-top: 20px;">
		            <button type="submit" class="jy-btn">Login</button>
		        </div>

		    </form>
		</div>
	</div>

</div>


  </body>

</html>
